@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@*//about page css*@

    <p>
        This is website is made by Yash Patel.
    </p>

    <p>
        Cruising power
        Honda engineers tuned the Rebel's engine and exhaust system to perfectly suit the cruiser riding style, resulting in strong low-end torque, a wonderfully smooth powerband, and an ear-pleasing sound.
        Specifications, features, illustrations and equipment shown are believed to be correct – however, accuracy cannot be guaranteed. Honda Canada Inc. reserves the right to make changes at any time, without notice or obligation, in colours, specifications, accessories, materials and models. Some vehicles are shown with optional equipment. Some vehicles shown are U.S. or European models. Canadian specifications and models may vary.
    </p>
    <p>
    You can find my email address under contact

    </p>


